{% extends 'swim_graph/base.html' %}

{% load static %}

{% load custom_filters %}

{% block content %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container mt-4">
        <div class="row justify-content-center mt-2">
            <div class="col-6 align-self-center">
                <h3 class="mb-4 text-center">Настройки отчета</h3>
                <form method="post" novalidate>

                    {% csrf_token %}

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#mainSettings">Настройки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tableSettings">Таблицы и диаграммы</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="mainSettings">
                            <div class="card border-primary mt-2">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item bg-light">
                                        <label class="form-label"><strong>{{ form.file_name.label }}</strong></label>
                                        {{ form.file_name }}
                                    </li>
                                    <li class="list-group-item bg-light">
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label"><strong>{{ form.swim_length.label }}</strong></label>
                                                {{ form.swim_length }}
                                            </div>
                                            <div class="col">
                                                <label class="form-label"><strong>{{ form.pool_length.label }}</strong></label>
                                                {{ form.pool_length }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tableSettings">
                            <div class="accordion mt-2">
                                <div class="accordion-item bg-light border-primary">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            1. Стартовый отрезок 0-15
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                                        <div class="accordion-body">
                                            <div class="form-check form-switch">
                                                {{ form.status_start_distance }}
                                                <label class="form-check-label" for="statusStartDistance">{{ form.status_start_distance.label }}</label>
                                            </div>
                                            <div class="mt-3" id="start-distance-fields">
                                                {% for participant in participants %}
                                                    {% with key='status_start_distance_data_'|concat_strings:participant.id %}
                                                        <input type="number" class="form-control mb-2" name="status_start_distance_data_{{ participant.id }}"
                                                        value="{{ initial_data|get_item:key }}"
                                                        placeholder="{{ participant.initials }} ({{ participant.start_position }}-я дорожка, {{ participant.final_category }})">
                                                    {% endwith %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item bg-light border-primary">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            2. Средняя скорость каждые 25/50 м
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                                        <div class="accordion-body">
                                            <div class="form-check form-switch">
                                                {{ form.status_average_speed }}
                                                <label class="form-check-label" for="flexSwitchCheckChecked">{{ form.status_average_speed.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item bg-light border-primary">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            3. Кол-во циклов на лучшем отрезке
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                                        <div class="accordion-body">
                                            <div class="form-check form-switch">
                                                {{ form.status_number_cycles }}
                                                <label class="form-check-label" for="statusNumberCycles">{{ form.status_number_cycles.label }}</label>
                                            </div>
                                            <div class="mt-3" id="number-cycles-fields">
                                                {% for participant in participants %}
                                                    {% with key='status_number_cycles_data_'|concat_strings:participant.id %}
                                                        <input type="number" class="form-control mb-2" name="status_number_cycles_data_{{ participant.id }}"
                                                        value="{{ initial_data|get_item:key }}"
                                                        placeholder="{{ participant.initials }} ({{ participant.start_position }}-я дорожка, {{ participant.final_category }})">
                                                    {% endwith %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item bg-light border-primary">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            4. Темп на лучшем отрезке
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
                                        <div class="accordion-body">
                                            <div class="form-check form-switch">
                                                {{ form.status_pace }}
                                                <label class="form-check-label" for="statusPace">{{ form.status_pace.label }}</label>
                                            </div>
                                            <div class="mt-3" id="pace-fields">
                                                {% for participant in participants %}
                                                    {% with key='status_pace_data_'|concat_strings:participant.id %}
                                                        <input type="text" id="timeInput_{{ participant.id }}" class="form-control mb-2" name="status_pace_data_{{ participant.id }}"
                                                        value="{{ initial_data|get_item:key }}"
                                                        placeholder="{{ participant.initials }} ({{ participant.start_position }}-я дорожка, {{ participant.final_category }})"
                                                        data-bs-toggle="tooltip" title="Укажите темп на лучшем отрезке в формате секунда.миллисекунда или секунда,миллисекунда (например, 1.36 или 2,09)">
                                                    {% endwith %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item bg-light border-primary">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            5. Падение скорости каждые 25/50 м
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                                        <div class="accordion-body">
                                            <div class="form-check form-switch">
                                                {{ form.status_speed_drop }}
                                                <label class="form-check-label" for="flexSwitchCheckChecked">{{ form.status_speed_drop.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item bg-light border-primary">
                                    <h2 class="accordion-header" id="headingSix">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            6. Отставание от лидера каждые 25/50 м
                                        </button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
                                        <div class="accordion-body">
                                            <div class="form-check form-switch">
                                                {{ form.status_leader_gap }}
                                                <label class="form-check-label" for="flexSwitchCheckChecked">{{ form.status_leader_gap.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item bg-light border-primary">
                                    <h2 class="accordion-header" id="headingSeven">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                            7. Подводная часть
                                        </button>
                                    </h2>
                                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven">
                                        <div class="accordion-body">
                                            <div class="form-check form-switch">
                                                {{ form.status_underwater_part }}
                                                <label class="form-check-label" for="statusUnderwaterPart">{{ form.status_underwater_part.label }}</label>
                                            </div>
                                            <div class="mt-3" id="underwater-part-fields">
                                                {% for participant in participants %}
                                                    {% with key='status_underwater_part_data_'|concat_strings:participant.id %}
                                                        <input type="number" class="form-control mb-2" name="status_underwater_part_data_{{ participant.id }}"
                                                        value="{{ initial_data|get_item:key }}"
                                                        placeholder="{{ participant.initials }} ({{ participant.start_position }}-я дорожка, {{ participant.final_category }})">
                                                    {% endwith %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item bg-light border-primary">
                                    <h2 class="accordion-header" id="headingEight">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                            8. Лучшая стартовая реакция
                                        </button>
                                    </h2>
                                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight">
                                        <div class="accordion-body">
                                            <div class="form-check form-switch">
                                                {{ form.status_best_start_reaction }}
                                                <label class="form-check-label" for="flexSwitchCheckChecked">{{ form.status_best_start_reaction.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item bg-light border-primary">
                                    <h2 class="accordion-header" id="headingNine">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                            9. ⁠Лучший процент изменения стартового и финишного отрезков
                                        </button>
                                    </h2>
                                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine">
                                        <div class="accordion-body">
                                            <div class="form-check form-switch">
                                                {{ form.status_best_start_finish_percentage }}
                                                <label class="form-check-label" for="flexSwitchCheckChecked">{{ form.status_best_start_finish_percentage.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item bg-light border-primary">
                                    <h2 class="accordion-header" id="headingTen">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                            10. Тепловая карта
                                        </button>
                                    </h2>
                                    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen">
                                        <div class="accordion-body">
                                            <div class="form-check form-switch">
                                                {{ form.status_heat_map }}
                                                <label class="form-check-label" for="flexSwitchCheckChecked">{{ form.status_heat_map.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-grid justify-content-md-end">
                        <button type="submit" class="btn btn-primary mt-2">Создать отчет</button>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>

    {% block extra_js %}
        <script src="{% static 'js/toggle_fields.js' %}"></script>
        <script src="{% static 'js/validation.js' %}"></script>
    {% endblock %}

{% endblock %}
