{% load static %}

{% load custom_filters %}

<div class="navbar">

    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/logo.svg' %}"  alt="logo" class="logo">
    </a>

    <div>
        <ul class="snip">
            <li class="{% if request.resolver_match.url_name == 'home' %}current{% endif %}">
                <a href="{% url 'home' %}" data-hover="Главная">Главная</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'upload' %}current{% endif %}">
                <a href="{% url 'upload' %}" data-hover="Загрузить протоколы">Загрузить протоколы</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'sessions_list' %}current{% endif %}">
                <a href="{% url 'sessions_list' %}" data-hover="Отчеты">Отчеты</a>
            </li>
        </ul>
    </div>
</div>

{% block extra_js %}
    <script src="{% static 'js/navbar.js' %}"></script>
{% endblock %}